*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: slateblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{

    width: 500px;
}

h1{
    color: cyan;
    margin-bottom: 20px;
}

img{
    width: 500px;
}
